/* src/styles/ChessBoard.module.css */
.chessBoardWrapper {
  display: flex; /* Changed to flex to accommodate both vertical and horizontal coordinates */
  flex-direction:  row; /* Changed to column to accommodate both vertical and horizontal coordinates */
}

.chessBoardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.coordinatesHorizontal {
  display: flex;
  justify-content: space-between;
  max-width: calc((8 * 90px) + (7 * 5px)); /* Add the gap space to the total width */
  margin-top: -10px; /* Align with the grid gap */
  padding-left: 35px; /* Align with the left edge of the grid */
  padding-right: 35px; /* Align with the right edge of the grid */
}

.coordinatesVertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc((8 * 90px) + (7 * 5px)); /* Add the gap space to the total height */
  margin-right: 15px; /* Adjust for gap overlap */
  padding-top: 5px; /* Align with the top edge of the grid */
  padding-bottom: 5px; /* Align with the bottom edge of the grid */
}

.coordinate {
  color: #F1E8DF;
  font-size: 16px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90; /* Same as square size */
  height: 90px; /* Same as square size */
}

.chessBoard {
  display: grid;
  grid-template-columns: repeat(8, 90px);
  grid-template-rows: repeat(8, 90px);
  gap: 5px;
  margin-top: 5px; /* Align top with the first coordinate */
  margin-left: 5px; /* Align left with the first coordinate */
}

.darkSquare, .lightSquare {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkSquare {
  background-color: #5C3A21;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.lightSquare {
  background-color: #B69B7D;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}
