/* App.css */

.App {
  text-align: center;
  background-color: #121212; /* Dark background for the whole app */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* You can add a shading effect using a pseudo-element */
.App::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at center, transparent, rgba(0, 0, 0, 0.5));
  pointer-events: none;
}